.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #7d6dc5;
}

.mat-column-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.cadastro-form {
  width: 100%;
}

.cadastro-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.cadastro-card-actions {
  display: flex;
  justify-content: space-between;
}
